# Python Condition

# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [4]:
a  = int(input('Enter the length of a rectangle ='))
b  = int(input('Enter the breadth of a rectangle ='))
if a==b:
    print('This is a square')
else:
    print('This is not a square')

Enter the length of a rectangle =10
Enter the breadth of a rectangle =3
This is not a square


# 2.Take three integer values from the user and print the greatest among them.

In [13]:
x = int(input('Enter First number x ='))
y = int(input('Enter second number y ='))
z = int(input('Enter third number z ='))
if x>y and x>z:
    print('x is the greatest among three values')
elif y>x and y>z:
    print('y is greatest among three values')
else:
    print('z is greatest among three values')

Enter First number x =50
Enter second number y =70
Enter third number z =40
y is greatest among three values

# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [27]:
class_held = int(input('Enter the number of class held in ='))
class_attend = int(input('Enter the number of class attended ='))
percentage  = (class_attend/class_held)*100

if percentage<75:
    print('the student can not sit for the exam')
else:
    print('the student can sit for the exam')

Enter the number of class held in =60
Enter the number of class attended =20
the student can not sit for the exam

# 4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [31]:
mark = int(input('Enter First marks ='))
if mark>90:
    print('the student obtaining grade is = A+')
elif mark>=80 and mark<=89:
     print('the student obtaining grade is = A')
elif mark>=60 and mark<=79:
     print('the student obtaining grade is = B')    
elif mark>=50 and mark<=59:
     print('the student obtaining grade is = C')          
elif mark>=45 and mark<=49:
     print('the student obtaining grade is = D') 
elif mark>=25 and mark<=44:
     print('the student obtaining grade is = E')
else:
    print('the student obtaining grade is = F')

Enter First marks =46
the student obtaining grade is = D

# Loop Problem:

##

# Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [111]:
m=1
n=8
for i in range(m,n):
    for j in range(i,n,1):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7
2 3 4 5 6 7
3 4 5 6 7
4 5 6 7
5 6 7
6 7
7

# Python inbuilt Data Structure:

# Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [94]:
Li = [1,3,5,[2,3],True]
del Li[3][0]
Li[3].insert(0,3)
Li[4] = False
Li

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.

In [106]:
S1 = {1,4,6,8}
S2 = {1,2,10,True}
S1.intersection(S2)

{1}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,5,4]

In [134]:
li = []
for i in range(8):
    element = int(input())
    li.append(element)
print(li)

1
9
3
4
5
200
5
4
[1, 9, 3, 4, 5, 200, 5, 4]

In [155]:
sets = set(li)#automatically remove duplicate
print (sets)
print (MAX(sets))

{1, 3, 4, 5, 200, 9}
200

# 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [166]:
dic = {
    'name':'Shakil',
    'age': '27',
    'city': 'Berlin',
    'country':'Germany'
}

In [167]:
dic

{'name': 'Shakil', 'age': '27', 'city': 'Berlin', 'country': 'Germany'}

In [175]:
dic['region']= dic['country']
del dic['country']

KeyError: 'country'

In [ ]:
dic