# Python Condition

# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [4]:
a  = int(input('Enter the length of a rectangle ='))
b  = int(input('Enter the breadth of a rectangle ='))
if a==b:
    print('This is a square')
else:
    print('This is not a square')

Enter the length of a rectangle =10
Enter the breadth of a rectangle =3
This is not a square


# 2.Take three integer values from the user and print the greatest among them.

In [13]:
x = int(input('Enter First number x ='))
y = int(input('Enter second number y ='))
z = int(input('Enter third number z ='))
if x>y and x>z:
    print('x is the greatest among three values')
elif y>x and y>z:
    print('y is greatest among three values')
else:
    print('z is greatest among three values')

Enter First number x =50
Enter second number y =70
Enter third number z =40
y is greatest among three values

# 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [27]:
class_held = int(input('Enter the number of class held in ='))
class_attend = int(input('Enter the number of class attended ='))
percentage  = (class_attend/class_held)*100

if percentage<75:
    print('the student can not sit for the exam')
else:
    print('the student can sit for the exam')

Enter the number of class held in =60
Enter the number of class attended =20
the student can not sit for the exam

# 4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.

In [31]:
mark = int(input('Enter First marks ='))
if mark>90:
    print('the student obtaining grade is = A+')
elif mark>=80 and mark<=89:
     print('the student obtaining grade is = A')
elif mark>=60 and mark<=79:
     print('the student obtaining grade is = B')    
elif mark>=50 and mark<=59:
     print('the student obtaining grade is = C')          
elif mark>=45 and mark<=49:
     print('the student obtaining grade is = D') 
elif mark>=25 and mark<=44:
     print('the student obtaining grade is = E')
else:
    print('the student obtaining grade is = F')

Enter First marks =46
the student obtaining grade is = D

# Loop Problem:

##

# Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [214]:
m=1
n=8
for i in range(m,n):
     j=1
    for j in range(i,n,1):
       
        print(j, end=' ')
    print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

# 6. Display numbers from -100 to -10 using for loop.

In [211]:

for i in range(-100,-9,1):
    print('i=',i)
    print()

i= -100

i= -99

i= -98

i= -97

i= -96

i= -95

i= -94

i= -93

i= -92

i= -91

i= -90

i= -89

i= -88

i= -87

i= -86

i= -85

i= -84

i= -83

i= -82

i= -81

i= -80

i= -79

i= -78

i= -77

i= -76

i= -75

i= -74

i= -73

i= -72

i= -71

i= -70

i= -69

i= -68

i= -67

i= -66

i= -65

i= -64

i= -63

i= -62

i= -61

i= -60

i= -59

i= -58

i= -57

i= -56

i= -55

i= -54

i= -53

i= -52

i= -51

i= -50

i= -49

i= -48

i= -47

i= -46

i= -45

i= -44

i= -43

i= -42

i= -41

i= -40

i= -39

i= -38

i= -37

i= -36

i= -35

i= -34

i= -33

i= -32

i= -31

i= -30

i= -29

i= -28

i= -27

i= -26

i= -25

i= -24

i= -23

i= -22

i= -21

i= -20

i= -19

i= -18

i= -17

i= -16

i= -15

i= -14

i= -13

i= -12

i= -11

i= -10

# Write a program to sum all prime numbers within a range of 10 to 1000.

In [252]:
n=int(input('enter the final range:'))
sum = 0
for i in range(10, n+1):
    for j in range(2, i):
        if i % j == 0:
           break
    else:
       
        print(i,end=' ')
        sum = sum + i
       
print('\nThe sum of the prime numbers in given range=',sum)

enter the final range:100
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
The sum of the prime numbers in given range= 1043

# 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [229]:
n=int(input('enter the number:'))
fact = 1
i = 1
while i<=n:
    fact = fact*i
    i= i+1
print('The Factorial value is:',fact)

enter the number:7
The Factorial value is: 5040

# 9. Reverse a given integer number 27956240710.

In [243]:
num = int(input('Enter the integer value:'))
re_num = 0

while num != 0:
    remainder = num % 10
    re_num = re_num * 10 + remainder
    num = num//10

print("The reverse number is : {}".format(re_num))

Enter the integer value:2795624071
The reverse number is : 1704265972

# 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [248]:
n=int(input('enter the value:'))
first = 0
second= 1
sum_1 = 0

for i in range(0,n):
    print(first,end=' ')
    sum_1 = sum_1 + first
    next_1= first+ second
    first= second
    second=next_1

enter the value:15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# Python inbuilt Data Structure:

# Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [94]:
Li = [1,3,5,[2,3],True]
del Li[3][0]
Li[3].insert(0,3)
Li[4] = False
Li

[1, 3, 5, [3, 3], False]

# 13. Find the intersection (common) of two sets.

In [106]:
S1 = {1,4,6,8}
S2 = {1,2,10,True}
S1.intersection(S2)

{1}

# 14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,5,4]

In [134]:
li = []
for i in range(8):
    element = int(input())
    li.append(element)
print(li)

1
9
3
4
5
200
5
4
[1, 9, 3, 4, 5, 200, 5, 4]

In [155]:
sets = set(li)#automatically remove duplicate
print (sets)
print (MAX(sets))

{1, 3, 4, 5, 200, 9}
200

# 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [194]:
dic = {
    'name':'Shakil',
    'age': '27',
    'city': 'Berlin',
    'country':'Germany'
}

In [195]:
dic

{'name': 'Shakil', 'age': '27', 'city': 'Berlin', 'country': 'Germany'}

In [196]:
v= dic['country']
del dic['country']
dic['region']=v

In [197]:
dic

{'name': 'Shakil', 'age': '27', 'city': 'Berlin', 'region': 'Germany'}

# 17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [198]:
dic['age']='28'

In [199]:
dic

{'name': 'Shakil', 'age': '28', 'city': 'Berlin', 'region': 'Germany'}

# 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [200]:
import pandas as pd

In [201]:
dic1={
    'Number': [10,100,300]
}

In [202]:
dic1

{'Number': [10, 100, 300]}