In [1]:
#importing libraries dataset
import pandas as pd
import numpy as np

import warnings as wr
wr.filterwarnings('ignore')

In [2]:
df = pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df.replace(to_replace=["Male", "Female"], value=[1,0], inplace=True) #male=1 ' female=0'

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8555 entries, 0 to 8554
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  8555 non-null   int64
 1   Height  8555 non-null   float64
 2   Weight  8555 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 200.6 KB

In [6]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [7]:
df.Gender.value_counts()

1    5000
0    3555
Name: Gender, dtype: int64

# Step 01 - Regression

In [8]:
#Seperate X,y
x = df.drop('Weight', axis=1)
y = df[['Weight']]

In [9]:
x.head()

   Gender     Height
0       1  73.847017
1       1  68.781904
2       1  74.110105
3       1  71.730978
4       1  69.881796

In [10]:
y.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

In [11]:
from sklearn.model_selection import train_test_split #import train_test_split function from model selection from sklearn

In [12]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.30, random_state=0) #seperate testing(30%) and training data(70%)

In [13]:
xtrain.head() #training set data 70%

      Gender     Height
3197       1  69.689848
4394       1  66.299441
7711       0  63.261527
7019       0  62.035319
898        1  67.272171

In [14]:
xtest.head() #testing set data 30%

      Gender     Height
541        1  63.867921
3209       1  68.688931
7598       0  65.865244
5170       0  66.259558
2423       1  67.290776

In [15]:
ytrain.head()

          Weight
3197  186.377448
4394  159.235988
7711  126.426793
7019  119.418135
898   187.363366

In [16]:
ytest.head()

          Weight
541   174.473363
3209  178.507500
7598  155.248900
5170  138.839940
2423  154.718344

# Linear Regression

In [17]:
from sklearn.linear_model import LinearRegression #import LinearRegression Model

In [18]:
lr = LinearRegression() # call linear Regreesion Method

In [19]:
lr.fit(xtrain, ytrain) # training the model

LinearRegression()

In [20]:
lr.predict(xtest) #predicted value for testing sets

array([[156.20235428],
       [184.93442898],
       [148.42945323],
       ...,
       [159.2442037 ],
       [166.96403181],
       [136.95529212]])

In [21]:
lr.predict(xtrain) #predicted value for training sets

array([[190.89966126],
       [170.6936359 ],
       [132.91191356],
       ...,
       [173.26416349],
       [177.65252376],
       [196.30621554]])

In [22]:
df['predicted_weight_lr'] = lr.predict(x)
df.head()

   Gender     Height      Weight  predicted_weight_lr
0       1  73.847017  241.893563           215.675400
1       1  68.781904  162.310473           185.488528
2       1  74.110105  212.740856           217.243344
3       1  71.730978  220.042470           203.064312
4       1  69.881796  206.349801           192.043622

In [23]:
accuracy_for_linear_test = lr.score(xtest, ytest) #Testing accuracy
accuracy_for_linear_test

0.9025307579174771

In [24]:
accuracy_for_linear_train =lr.score(xtrain, ytrain) #training accuracy
accuracy_for_linear_train

0.8988118427483529

In [25]:
from sklearn.metrics import mean_squared_error # import MSE method from sklearn.matrics library
mse = mean_squared_error(ytest, lr.predict(xtest)) #mean squared error measuement 
mse

102.30154155088874

# import KNN Regressor Model

In [26]:
from sklearn.neighbors import KNeighborsRegressor

In [27]:
knn = KNeighborsRegressor()
knn.fit(xtrain, ytrain)

KNeighborsRegressor()

In [28]:
df['predicted_weight_from_knn'] = knn.predict(x)
df.head()

,Gender,Height,Weight,predicted_weight_lr,predicted_weight_from_knn
0,1,73.847017,241.893563,215.675400,218.645629
1,1,68.781904,162.310473,185.488528,182.079824
2,1,74.110105,212.740856,217.243344,213.243272
3,1,71.730978,220.042470,203.064312,201.695847
4,1,69.881796,206.349801,192.043622,202.186940

In [29]:
accuracy_for_knn_train=knn.score(xtrain, ytrain)
accuracy_for_knn_train

0.9184951353192796

In [30]:
accuracy_for_knn_test=knn.score(xtest, ytest)
accuracy_for_knn_test

0.8805893134749361

In [31]:
mse_knn = mean_squared_error(ytest, knn.predict(xtest)) #mean squared error measuement 
mse_knn

125.33079203407898

In [32]:
print('Linear_regression training accuracy:',accuracy_for_linear_train)
print('Linear_regression testing accuracy:',accuracy_for_linear_test)
print('Linear_regression MSE:',mse)
print('KNN_regressor training accuracy:',accuracy_for_knn_train)
print('KNN_regressor testing accuracy:',accuracy_for_knn_test)
print('KNN_regressor MSE:',mse_knn)

Linear_regression training accuracy: 0.8988118427483529
Linear_regression testing accuracy: 0.9025307579174771
Linear_regression MSE: 102.30154155088874
KNN_regressor training accuracy: 0.9184951353192796
KNN_regressor testing accuracy: 0.8805893134749361
KNN_regressor MSE: 125.33079203407898

# Step 02 - Classification

In [33]:
df_1= pd.read_csv('weight-height.csv')

In [34]:
df_1.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [35]:
df_1.replace(to_replace=["Male", "Female"], value=[1,0], inplace=True) #male=1 ' female=0'

In [36]:
x_1 = df_1.drop('Gender', axis=1)
y_1 = df_1[['Gender']]

In [37]:
x_1.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [38]:
y_1.head()

   Gender
0       1
1       1
2       1
3       1
4       1

In [39]:
from sklearn.model_selection import train_test_split #import train_test_split function from model selection from sklearn

In [40]:
xtrain_1, xtest_1, ytrain_1, ytest_1 = train_test_split(x_1,y_1, test_size=.30, random_state=0) #seperate testing(30%) and training data(70%)

In [41]:
xtrain_1.head()

         Height      Weight
3197  69.689848  186.377448
4394  66.299441  159.235988
7711  63.261527  126.426793
7019  62.035319  119.418135
898   67.272171  187.363366

In [42]:
xtest_1.head()

         Height      Weight
541   63.867921  174.473363
3209  68.688931  178.507500
7598  65.865244  155.248900
5170  66.259558  138.839940
2423  67.290776  154.718344

In [43]:
ytrain_1.head()

      Gender
3197       1
4394       1
7711       0
7019       0
898        1

In [44]:
ytest_1.head()

      Gender
541        1
3209       1
7598       0
5170       0
2423       1

In [45]:
from sklearn.neighbors import KNeighborsClassifier

In [46]:
knn_classifier = KNeighborsClassifier()
knn_classifier.fit(xtrain_1,ytrain_1)

KNeighborsClassifier()

In [57]:
df_1['predicted_gender'] = knn_classifier.predict(x_1)
df_1

      Gender     Height      Weight  predicted_gender
0          1  73.847017  241.893563                 1
1          1  68.781904  162.310473                 1
2          1  74.110105  212.740856                 1
3          1  71.730978  220.042470                 1
4          1  69.881796  206.349801                 1
...      ...        ...         ...               ...
8550       0  60.483946  110.565497                 0
8551       0  63.423372  129.921671                 0
8552       0  65.584057  155.942671                 0
8553       0  67.429971  151.678405                 0
8554       0  60.921791  131.253738                 0

[8555 rows x 4 columns]

In [48]:
accuracy_for_knn__classifier_train=knn_classifier.score(xtrain_1, ytrain_1)
accuracy_for_knn__classifier_train

0.9318637274549099

In [49]:
accuracy_for_knn__classifier_test=knn_classifier.score(xtest_1, ytest_1)
accuracy_for_knn__classifier_test

0.9068952084144917

In [50]:
mse_knn_classifier = mean_squared_error(ytest_1, knn_classifier.predict(xtest_1)) #mean squared error measuement 
mse_knn_classifier

0.09310479158550837

In [51]:
print('KNN Classifier training accuracy:',accuracy_for_knn__classifier_train)
print('KNN Classifier testing accuracy:',accuracy_for_knn__classifier_test)
print('KNN Classifier MSE:',mse_knn_classifier)

KNN Classifier training accuracy: 0.9318637274549099
KNN Classifier testing accuracy: 0.9068952084144917
KNN Classifier MSE: 0.09310479158550837