In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Normalization

In [4]:
#Marketing Spend
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Marketing Spend  50 non-null     float64
 1   Administration   50 non-null     float64
 2   Transport        50 non-null     float64
 3   Area             50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [6]:

x = df.drop('Profit', axis=1) #train set
y = df[['Profit']] #target variable
x_0 = x.drop('Area', axis=1) #removing object value () for transforming without loop section
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [7]:
x_1 =x.copy() # for using in transfoming with for loop
x_2 =x.copy()# for using in transfoming with for loop
x_3 =x.copy() # for using in transfoming with for loop
x_4 =x.copy() # for using in transfoming with for loop
x_5 =x.copy() # for using in transfoming with for loop

In [8]:
x1 = x_0.copy() # for using in transfoming without loop
x2 = x_0.copy()
x3 = x_0.copy()
x4 = x_0.copy()
x5 = x_0.copy()
x6 = x_0.copy()
x7 = x_0.copy()
x8 = x_0.copy()
x9 = x_0.copy()
x10 = x_0.copy()
x11 = x_0.copy()
x12 = x_0.copy()

# Min Max Scaler without loop

In [9]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler() # m = MinMaxScaler(feature_range=(2, 5))
df_norm = pd.DataFrame(m.fit_transform(x_0),columns =x_0.columns) # run fit_transform for all numeric dataset



#df[['Marketing Spend']] = m.fit_transform(df[['Marketing Spend']]) #fit the model and transforming
#df[['Administration']] = m.fit_transform(df[['Administration']]) #fit the model and transforming
#df[['Transport']] = m.fit_transform(df[['Transport']]) #fit the model and transforming

In [10]:

df_norm.to_csv('C:\\Users\HP\OneDrive\Documents\ML COURSE CONTENT\min_max_normalization.csv') #save data after min max normalization
df_norm.head()

   Marketing Spend  Administration  Transport
0         0.692617        0.651744   1.000000
1         0.983359        0.761972   0.940893
2         0.927985        0.379579   0.864664
3         0.873136        0.512998   0.812235
4         0.859438        0.305328   0.776136

# Min Max Scaler using for loop

In [11]:
x_1.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() # m = MinMaxScaler(feature_range=(2, 5))

      #x.dtypes 
for col in x_1.columns: 
    if x_1[col].dtypes =="float": 
        x_1[col] = scaler.fit_transform(x_1[[col]])  
    continue

In [13]:
x_1.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

# Standard Scaler without loop

In [14]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [15]:
x1.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [16]:

from sklearn.preprocessing import StandardScaler #import standared scaler model
s =StandardScaler() #call standared scaler function
df_std = pd.DataFrame(s.fit_transform(x1),columns =x1.columns)  # run fit_transform for all numeric dataset

In [17]:

df_std.to_csv('C:\\Users\HP\OneDrive\Documents\ML COURSE CONTENT\standarization.csv')#save data after standared scaling
df_std.head()

   Marketing Spend  Administration  Transport
0         0.897913        0.560753   2.153943
1         1.955860        1.082807   1.923600
2         1.754364       -0.728257   1.626528
3         1.554784       -0.096365   1.422210
4         1.504937       -1.079919   1.281528

# Standard Scaler using for loop

In [ ]:
x_2.head()

In [20]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler() 

     
for col in x_2.columns: 
    if x_2[col].dtypes =="float": 
        x_2[col] = std.fit_transform(x_2[[col]])  
    continue

In [22]:
x_2.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.153943    Dhaka
1         1.955860        1.082807   1.923600      Ctg
2         1.754364       -0.728257   1.626528  Rangpur
3         1.554784       -0.096365   1.422210    Dhaka
4         1.504937       -1.079919   1.281528  Rangpur

In [ ]:
# Max abs scaler without loop

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MaxAbsScaler.html

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
abs_scaler= MaxAbsScaler()

abs_scaler.fit(x2)
abs_scaler.max_abs_
scaled_data = abs_scaler.transform(x2)

df_scaled = pd.DataFrame(scaled_data, columns =x2.columns)
df_scaled.head()

In [ ]:
df_scaled.to_csv('C:\\Users\HP\OneDrive\Documents\ML COURSE CONTENT\max_absolute_scaling.csv') #save after max_absolute_scaling

# Max abs scaler using loop

In [ ]:
x_3.head()

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
abs_s= MaxAbsScaler()


for col in x_3.columns: 
    if x_3[col].dtypes =="float": 
        abs_s.fit( x_3[[col]])
        abs_s.max_abs_
        x_3[col] = abs_s.transform(x_3[[col]])
       
    continue

In [ ]:
x_3.head()

# Robust Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html

In [ ]:
from sklearn.preprocessing import RobustScaler
r_scaler = RobustScaler()
df_robust = pd.DataFrame(r_scaler.fit_transform(x3),columns =x3.columns)
df_robust.head()

In [ ]:
df_robust.to_csv('C:/Users/HP/OneDrive/Documents/ML COURSE CONTENT/robust_scaling.csv') #save data after standared scaling

# Robust Scaler using loop

In [ ]:
x_4.head()

In [ ]:
from sklearn.preprocessing import RobustScaler
r_scaler = RobustScaler()


for col in x_2.columns: 
    if x_4[col].dtypes =="float": 
        x_4[col] = r_scaler.fit_transform(x_4[[col]])  
    continue

In [ ]:
x_4.head()